body {
    text-align: center;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#generate {
    font-size: 2rem;
    
}

#children img {
    position: absolute;
}

#border {
    position: relative;
    top: -20px;
    left: 2px;
    max-width: 1000px;
    align-items: center;
    height: auto;
    padding: 25px;
    z-index: 0;
}

h1 {
    font-size: 3rem;
    color:rgb(105, 48, 10);
}

.token {
    position: absolute;
    max-width: 60px;
    height: auto;
    transform: translate(42px, 52px);
    z-index: 2;

}

/* Need two slightly differently sized tiles due to images being slightly distorted*/

.tile {
    position: relative;
    max-width: 146.5px;
    height: auto;
    z-index: 1;
}

.tile_upper {
    position: absolute;
    max-width: 148px;
    height: auto;
    z-index: 1;
}

.port {
    position: absolute;
    max-width: 50px;
    height: auto;
    z-index: 3;
}

/* Position for all 19 tiles, done manually as images do not align properly */

.tile_0{
    top: 264px;
    left: 536px;
}
.tile_1{
    top: 264px;
    left: 684px;
}
.tile_2{
    top: 264px;
    left: 832px;
}
.tile_3{
    top: 395px;
    left: 460.5px;
}
.tile_4{
    top: 395px;
    left: 608.5px;
}
.tile_5{
    top: 395px;
    left: 756.5px;
}
.tile_6{
    top: 394px;
    left: 907px;
}
.tile_7{
    top: 523px;
    left: 385px;
}
.tile_8{
    top: 525px;
    left: 534px;
}
.tile_9{
    top: 525px;
    left: 683px;
}
.tile_10{
    top: 525px;
    left: 832px;
}
.tile_11{
    top: 524px;
    left: 981px;
}
.tile_12{
    top: 652px;
    left: 456.5px;
}
.tile_13{
    top: 653px;
    left: 607px;
}
.tile_14{
    top: 654px;
    left: 755px;
}
.tile_15{
    top: 652px;
    left: 904px;
}
.tile_16{
    top: 781px;
    left: 530px;
}
.tile_17{
    top: 781px;
    left: 679px;
}
.tile_18{
    top: 781px;
    left: 829px;
}

/* Position for all the ports */

.port_0 {
    top: 210px;
    left: 525px;
    transform: rotate(180deg);
}
.port_1 {
    top: 200px;
    left: 790px;
    transform: rotate(180deg);
}
.port_2 {
    top: 335px;
    left: 1025px;
    transform: rotate(225deg);
}
.port_3 {
    top: 587px;
    left: 1160px;
    transform: rotate(270deg);
}
.port_4 {
    top: 818px;
    left: 1030px;
    transform: rotate(315deg);
}
.port_5 {
    top: 950px;
    left: 790px;
}
.port_6 {
    top: 950px;
    left: 510px;
    transform: rotate(45deg);
}
.port_7 {
    top: 710px;
    left: 370px;
    transform: rotate(90deg);
}
.port_8 {
    top: 440px;
    left: 380px;
    transform: rotate(135deg);
}